/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-full bg-gray-300 dark:bg-gray-900
}

.contact-button {
    @apply bg-blue-500 hover:bg-blue-600 hover:shadow-md uppercase text-white font-bold shadow
    text-xs px-4 py-2 rounded outline-none mb-1 ease-linear transition-all duration-150
    focus:outline-none sm:mr-2
}

.timeline {
    @apply antialiased text-gray-500 mt-4 relative text-left grid grid-cols-2
}

.timeline:before {
    content: "";
    position: absolute;
    background: #e4e9f1;
    width: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.timeline-post {
    @apply relative
}

.timeline-before {
    @apply absolute w-full -z-1;
    content: '';
    height: 4px;
    background: #e4e9f1;
    right: 0;
    top: 61px;
}

.timeline-before-right {
    left: 0
}

.timeline-post-marker {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 25px;
    background: #e4e9f1;
    top: 55px;
    border: 3px solid #f8f9fb;
    right: -8px;
}
